/***************
Top bar color
***************/

html{
	border-top 20px solid #8A85A5;
}


/*****************
Body styling
******************/

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 1.3em;
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	font-weight: 300;
}