/***************
Top bar color
***************/

html{
	border-top: 60px solid #5D5C61;
	background:#7395AE;
}


/*****************
Body styling
******************/

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 1.3em;
	line-height: 1.6em;
	font-family: 'Domine', serif;
	color:white;
	font-weight: 300;
}

/*****************
Image styling
******************/

img{
	border-radius: 20%;
	max-width: 340px;
}
/**************
Headline styling
***********/
h1 {
	font-size: 1.5em;
	line-height: .5em;
	color: #5D5C61;
	padding: 1em 1em 1em 0;
}

h2{
	font-size: 1em;
	line-height: 1em;
	color: #B1A296;
}

h3{
	font-size: .875em;
	line-height: 1em;
	font-weight: normal;
}

h4{
	font-size: 0.7em;
	line-height: 1em;
	font-weight: normal;
}

/**************
Main Page Styling
***********/

p{
	font-size: 0.85em;
}
blockquote{
	color: #B1A296;
}
footer{
	background:#557A95;
}
#email{
	text-decoration: none;
	color:white;
}
#email:hover{
	text-decoration: underline;
}

/**************
Buttons
***********/
button{
	background:#557A95;
	padding: 1em 1em;
	border-radius: 0.2em;
	border:0;
}
button a{
	color:white;
	text-decoration: none;
	font-size: 2em;
}
button a:hover{
	background: #3d5a6d;
}